# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Build artifacts - ALF specific
alf/dca/CMakeCache.txt
alf/dca/CMakeFiles
alf/dca/Filter
alf/dca/LM
alf/dca/Makefile
alf/dca/Moment
alf/dca/PLM
alf/dca/cmake_install.cmake
alf/lmalf/CMakeCache.txt
alf/lmalf/CMakeFiles/
alf/lmalf/Makefile
alf/lmalf/cmake_install.cmake
alf/lmalf/lmalf
alf/lmalf/whamweight
alf/wham/CMakeCache.txt
alf/wham/CMakeFiles
alf/wham/Makefile
alf/wham/cmake_install.cmake
alf/wham/libwham.so
